<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Server-sent events</h1>
        <div id="server-side_data"></div>

        <script>
            const eventSource = new EventSource('/sse');
            const serverSentDataDiv = document.getElementById('server-side_data');

            eventSource.addEventListener("new_message", (event) => {
                serverSentDataDiv.innerHTML = event.data;
            });


            eventSource.addEventListener("end", (event) => {
                console.log("Handling end...");
                eventSource.close();
            });

        </script>
    </body>
</html>