.heading {
    font-size: 2em;
    color: black;
  }

.text {
    font-size: 1.2em;
    color: black;
  }

.message {
    font-size: 1.5em;
    color: red;
  }

.user_pane {
    font-size: 1.2em;
    background-color: lightgray;
    width: fit-content;
    block-size: fit-content;
    padding: 1em;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

a {
    font-size: 1.2em;
  }

a:hover {
    color: red;
  }